<div>
  <mat-toolbar color="accent" role="heading">
    <mat-toolbar-row>
      <i class="material-icons">cloud_circle</i>
      <h1>Cloud Control</h1>
      <button type="button" aria-label="Toggle sidenav" 
      mat-icon-button (click)="sidenav.toggle()" color="primary" 
      matTooltip="Open the navigation menu" aria-label="Button to open the navigation menu" [matTooltipPosition]="'after'">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="sidenavService.isSidenavOpen" (opened)="sidenavService.setSidenavOpen(true)"
    (closed)="sidenavService.setSidenavOpen(false)">
      <ng-container *ngFor="let item of sidenavService.getSidenavItems()">
        <ng-container *ngIf="item.isButton; else nonButton">
          <button 
          mat-stroked-button 
          color="primary"
          (click)="execute(item)"
          type="button"
          [ngClass]="routeService?.currentRoute === item?.route ? 'is-selected ' + item.cssClass : item.cssClass"
          [matTooltip]="item?.tooltip" 
          [matTooltipPosition]="item?.tooltipPosition"
          [attr.aria-label]="item?.ariaLabel">
            <div>
              <i class="material-icons" *ngIf="item?.matIcon">{{item?.matIcon}}</i>
              <span>{{item.text}}</span>
            </div>
          </button>
        </ng-container>
        <ng-template #nonButton>
          <div [ngClass]="item.cssClass">
            <span>{{item.text}}</span>
          </div>
        </ng-template>
      </ng-container>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>