div {
  mat-toolbar {
    height: 50px;
    display: inline-block;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    position: relative;
    z-index: 2;
    &.mat-accent {
      background: black !important;
    }
  
    mat-toolbar-row {
      i {
        margin-right: 5px;
      }
      h1 {
        color: white;
        text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000; 
      }
      button.mat-icon-button {
        color: #3d70b2;
      }
    }
  }
  
  .example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
    
  .example-events {
    width: 300px;
    height: 200px;
    overflow: auto;
    border: 1px solid #555;
  }
   
  .mat-stroked-button {
    display: block;
    padding: 15px;
    margin: 15px;
    width: 220px;
  }
  
  .move-button-to-bottom {
    position:absolute; 
    bottom:0;
  }
  
  mat-sidenav-container {
    mat-sidenav {
      width: 250px;
      margin-top: 65px;
      background-color: #152935;
  
      button {
        background-color: white;
        color: black;
        &.mat-stroked-button:hover {
          background-color: #3d70b2;
          color: white;
        }
        i {
          vertical-align:middle;
          margin-right: 5px;
        }
        span {
          font-size: 18px;
          vertical-align:middle;
        }
      }

      .is-selected {
        background-color: #3d70b2;
        color: white;
      }
    }
  }
}