<div>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <button 
  *ngIf="fullscreenColumns !== null" 
  mat-raised-button 
  style="float:right;" 
  [matTooltip]="sidenavService.isSidenavOpen ? 'Fullscreen view displays all table columns' : 'Summary view shows fewer columns'" 
  [attr.aria-label]="sidenavService.isSidenavOpen ? 'Press this button to expand the table to fullscreen view' : 'Press this button to collapse the table to summary view'" 
  (click)="sidenavService.setSidenavOpen(!sidenavService.isSidenavOpen)">
    {{ 'Table ' + (sidenavService.isSidenavOpen ? 'Fullscreen' : 'Summary') }}
  </button>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container *ngIf="type == tableType.Orgs">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <!-- Server count Column -->
        <ng-container matColumnDef="serverCount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Servers</th>
          <td mat-cell *matCellDef="let row"> {{row.serverCount}} </td>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="type == tableType.Servers">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Server Name</th>
          <td mat-cell *matCellDef="let row"> {{row.name}}</td>
        </ng-container>

        <!-- Description count Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
            <td mat-cell *matCellDef="let row">
              <div class="description-column"
              >{{row.description}}</div>
            </td>
          </ng-container>

        <!-- Create time Column -->
        <ng-container matColumnDef="createTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Create Time</th>
          <td mat-cell *matCellDef="let row" class="create-time-column"> {{row.createTime | date: 'medium'}} </td>
        </ng-container>

        <!-- CPU count Column -->
        <ng-container matColumnDef="cpuCount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header># CPU</th>
          <td mat-cell *matCellDef="let row"> {{row.cpuCount}} </td>
        </ng-container>

        <!-- Memory Gb Column -->
        <ng-container matColumnDef="memory">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Memory (Gb)</th>
          <td mat-cell *matCellDef="let row"> {{row.memory}} </td>
        </ng-container>

        <!-- Private Ipv4 Column -->
        <ng-container matColumnDef="privateIpv4">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Private Ipv4</th>
          <td mat-cell *matCellDef="let row"> {{row.privateIpv4}} </td>
        </ng-container>

        <!-- Deployed Column -->
        <ng-container matColumnDef="deployed">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Deployed</th>
          <td mat-cell *matCellDef="let row"> {{row.deployed}} </td>
        </ng-container>

        <!-- Started Column -->
        <ng-container matColumnDef="started">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Started</th>
          <td mat-cell *matCellDef="let row"> {{row.started}} </td>
        </ng-container>

        <!-- State Column -->
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
          <td mat-cell *matCellDef="let row"> {{row.state}} </td>
        </ng-container>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goToRoute(row.id)">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>