.mat-form-field {
  font-size: 14px;
  width: 25%;
}

table {
  width: 100%;
  border-collapse: collapse;

  th {
    font-size: 16px;
    white-space: nowrap;
  }

  .mat-row:hover {
    background: #f5f7fa;
    cursor: pointer;
    td {
      border-top: 2px solid rgb(122, 168, 255) !important;
      border-bottom: 2px solid rgb(122, 168, 255) !important;
    }
  }
  
  .description-column{
    max-width: 500px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
  }
  .create-time-column {
    padding-right: 20px;
    white-space: nowrap;
  }
}