<div>
  <p class="mat-title">Create a server</p>
  <mat-card>
    <mat-card-content>
      <app-stepper (createServer)="handleCreateServerSubmit($event)" [type]="type"></app-stepper>
    </mat-card-content>
  </mat-card>
</div>