div {
    .server-description {
        width: 600px;
    }
    .is-invalid {
        color: #f44336;
    }
    .cpu-and-memory-form {
        mat-form-field {
            margin-right: 20px;
        }
    }
    .stepper-nav {
        margin-top: 20px;
    }

    .slide-toggles-container {
        display: flex;
        align-content: center;
        align-items: center;
        height: 60px;

        :last-child {
            margin-left:100px;
        }
    }
    .final-details {
        section {
            display: flex;
        }
    }
}