<div *ngIf="isSetupComplete">
  <mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="basicDetailsFormGroup" [editable]="isEditable">
      <form [formGroup]="basicDetailsFormGroup">
        <ng-template matStepLabel>Basic Server Details</ng-template>
        <mat-form-field style="display: flex;">
          <input #name matInput maxlength="20" minlength="3" placeholder="Server Name" formControlName="nameCtrl" required>
          <mat-hint align="end" [ngClass]="basicDetailsFormGroup.controls.nameCtrl.invalid && basicDetailsFormGroup.controls.nameCtrl.touched ? 'is-invalid' : ''">{{name.value.length}} / 20</mat-hint>
        </mat-form-field>
        <mat-form-field class="server-description">
          <input matInput #description maxlength="300" minlength="3" placeholder="Server Description" formControlName="descriptionCtrl" required>
          <mat-hint align="end" [ngClass]="basicDetailsFormGroup.controls.descriptionCtrl.invalid && basicDetailsFormGroup.controls.descriptionCtrl.touched ? 'is-invalid' : ''">{{description.value.length}} / 300</mat-hint>
        </mat-form-field>
        <div class="stepper-nav">
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="cpuAndMemoryFormGroup" [editable]="isEditable">
      <form [formGroup]="cpuAndMemoryFormGroup" class="cpu-and-memory-form">
        <ng-template matStepLabel>CPU and Memory</ng-template>
        <mat-form-field>
          <mat-label>CPU Speed</mat-label>
          <mat-select placeholder="CPU Speed" matInput formControlName="cpuSpeedCtrl" required>
            <mat-option *ngFor="let cpuSpeed of cpuSpeeds" [value]="cpuSpeed">
              {{ cpuSpeed }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input #cpuCount matInput type="number" max="64" min="1" placeholder="CPU Count" formControlName="cpuCountCtrl" required>
          <mat-hint align="start" 
          [ngClass]="cpuAndMemoryFormGroup.controls.cpuCountCtrl.invalid && cpuAndMemoryFormGroup.controls.cpuCountCtrl.touched ? 'is-invalid' : ''"
          >Must be <strong>between 1 & 64</strong></mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input #cpuCores matInput type="number" max="64" min="2" step="2" placeholder="CPU Cores Per Socket" formControlName="coresPerSocket" required>
          <mat-hint align="start" 
          [ngClass]="cpuAndMemoryFormGroup.controls.coresPerSocket.invalid && cpuAndMemoryFormGroup.controls.coresPerSocket.touched ? 'is-invalid' : ''"
          >Must be <strong>even</strong> and <strong>between 2 & 64</strong></mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input #memory matInput type="number" max="64" min="1" placeholder="Memory (Gb)" formControlName="memoryCtrl" required>
          <mat-hint align="start" 
          [ngClass]="cpuAndMemoryFormGroup.controls.memoryCtrl.invalid ? 'is-invalid' && cpuAndMemoryFormGroup.controls.memoryCtrl.touched: ''"
          >Must be <strong>between 1 & 64</strong></mat-hint>
        </mat-form-field>
        <div class="stepper-nav">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="networkFormGroup" [editable]="isEditable">
      <form [formGroup]="networkFormGroup">
        <ng-template matStepLabel>Network</ng-template>
        <mat-form-field style="display: flex;">
          <input matInput placeholder="Private Ipv4" formControlName="privateIpv4Ctrl">
        </mat-form-field>
        <mat-form-field style="display: flex;">
          <input #vlanName matInput maxlength="20" minlength="3" placeholder="vlan Name" formControlName="vlanNameCtrl" required>
          <mat-hint align="end" [ngClass]="networkFormGroup.controls.vlanNameCtrl.invalid && networkFormGroup.controls.vlanNameCtrl.touched ? 'is-invalid' : ''">{{vlanName.value.length}} / 20</mat-hint>
        </mat-form-field>
        <div class="stepper-nav">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="launchFormGroup" [editable]="isEditable">
      <form [formGroup]="launchFormGroup">
        <ng-template matStepLabel>Specify launch details</ng-template>
        <section class="slide-toggles-container">
          <mat-slide-toggle
            formControlName="deployedCtrl"
            class="example-margin"
            [color]="'primary'">
            Server Deployed
          </mat-slide-toggle>
          <mat-slide-toggle
            formControlName="startedCtrl"
            class="example-margin"
            [color]="'primary'">
            Server Started
          </mat-slide-toggle>
        </section>
        <div class="stepper-nav">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step class="final-details">
      <ng-template matStepLabel>Confirm Server Specs</ng-template>
      
      <section>
        <div>
            <div>
              <b>Name:</b> {{basicDetailsFormGroup.controls.nameCtrl.value}}
            </div>
            <div class="server-description">
              <b>Description:</b> {{basicDetailsFormGroup.controls.descriptionCtrl.value}}
            </div>
        </div>
        <div>
            <div>
              <b>CPU Speed:</b> {{cpuAndMemoryFormGroup.controls.cpuSpeedCtrl.value}}
            </div>
            <div>
              <b>CPU Count:</b> {{cpuAndMemoryFormGroup.controls.cpuCountCtrl.value}}
            </div>
            <div>
              <b>CPU Cores Per Socket:</b> {{cpuAndMemoryFormGroup.controls.coresPerSocket.value}}
            </div>
            <div>
              <b>Memory (Gb):</b> {{cpuAndMemoryFormGroup.controls.memoryCtrl.value}}
            </div>
        </div>
        <div>
            <div>
              <b>Private Ipv4:</b> {{networkFormGroup.controls.privateIpv4Ctrl.value}}
            </div>
            <div>
              <b>vlan Name:</b> {{networkFormGroup.controls.vlanNameCtrl.value}}
            </div>
        </div>
        <div>
            <div>
              <b>Server Deployed:</b> {{launchFormGroup.controls.deployedCtrl.value}}
            </div>
            <div>
              <b>Server Started:</b> {{launchFormGroup.controls.startedCtrl.value}}
            </div>
        </div>
      </section>


      <div class="stepper-nav">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="submitServer()">{{ type === serverUpdateType.Create ? 'Create' : 'Update'}}</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>