div {
    padding: 50px;

    mat-card {
        padding: 40px;
    }

    .slide-toggles-container {
        display: flex;
        align-content: center;
        align-items: center;
        height: 60px;

        :last-child {
            margin-left:100px;
        }
    }
}