<div *ngIf="server != null">
  <mat-card>
    <mat-card-content>
      <section>
        <h2>Server Name: {{server?.name}}</h2>
        <h3>ID: {{server?.id}}</h3>
        <h4>Created: {{server?.createTime | date: "medium"}}</h4>
      </section>
    
      <section class="slide-toggles-container">
        <mat-slide-toggle
            class="example-margin"
            [color]="'primary'"
            [checked]="server?.deployed"
            [disabled]="true">
          Server Deployed
        </mat-slide-toggle>
        <mat-slide-toggle
            class="example-margin"
            [color]="'primary'"
            [checked]="server?.started"
            [disabled]="true">
          Server Started
        </mat-slide-toggle>
      </section>
    
      <p>
        <b>Description:</b> {{server?.description}}
      </p>
    
      <p>
        <b>Private Ipv4:</b> {{server?.network.privateIpv4}}
      </p>
    
      <p>
        <b>CPU Count:</b> {{server?.cpu.count}}
      </p>
    
      <p>
        <b>CPU Cores:</b> {{server?.cpu.coresPerSocket}}
      </p>
    
      <p>
        <b>CPU Speed:</b> {{server?.cpu.speed}}
      </p>
    </mat-card-content>
  </mat-card>  
</div>
