<div>
  <mat-card>
    <mat-card-content>
      <p class="mat-title">
        Click below to delete this server.
      </p>
      <button mat-raised-button color="warn" (click)="openDialog()">Delete Server</button>
    </mat-card-content>
  </mat-card>
</div>