<h1 mat-dialog-title>Server Delete Confirmation</h1>
<div mat-dialog-content>
  <p>Are you sure you want to delete the server?</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No, cancel</button>
  <button mat-button (click)="deleteServer()" cdkFocusInitial>Yes</button>
</div>


<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->