<div *ngIf="displayData && displayData.length > 0">
  <p class="mat-title">
    Select an Organization
  </p>

  <app-table 
  [tableData]="displayData" 
  [displayColumns]="displayColumns"
  [type]="tableType.Orgs"
  ></app-table>
</div>