<div *ngIf="server != null">
    <p class="mat-title">Edit a server</p>
    <mat-card>
        <mat-card-content>
            <app-stepper
            [editServerDTO]="server" 
            (editServer)="handleEditServerSubmit($event)"
            [type]="type"
            ></app-stepper>
        </mat-card-content>
    </mat-card>
</div>