<div *ngIf="displayData && displayData.length > 0" >
    <p class="mat-title">
      All Servers
    </p>
  
    <app-table 
    [tableData]="displayData" 
    [displayColumns]="displayColumns"
    [fullscreenColumns]="fullscreenColumns"
    [type]="tableType.Servers"
    ></app-table>
  </div>